.footer{
    display: flex;
    justify-content: center;
}
.footer-links{
    display: flex;
    gap: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 4px;
}
.copyright{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 10px;
    color: #555555
}