<footer>
    <div class="footer">
        <div>
            <div class="footer-links">
                <a href="#">Help</a>
                <a href="#">Conditions of Use</a>
                <a href="#">Privacy Notice</a>
            </div>
            <div class="copyright">
                <p>&copy; 2018 Calicut University. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>